version: '3.8'

services:
  # Next.js application
  pioappweb:
    container_name: pioappweb
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3005:3005"
    environment:
      - NODE_ENV=production
      - PORT=3005
    networks:
      - pioapp-network

volumes:
  redis-data:
    driver: local

networks:
  pioapp-network:
    driver: bridge